{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

<div class="header-wrapper clearfix">
    {{widget('image', 'thisunqiuewidgetname', { 'src': asset('images/feature-bg2.jpg'), 'alt': 'feature-bg', 'fileName': 'feature-bg2.jpg', 'imageSize': '1500 x 230', 'imageWidth': '1500px'})|raw}}
<header class="bk-header">
    <div class="wrapper clearfix">
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div>
</header>
</div>

<div class="canvas">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-three-33-34-33">
           <div class="column columns-three-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h4>Company Address</h4>"})|raw}}
                {{widget('profile', 'footercolumn1profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
           </div>
           <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content1', {"content":"<h4>Contact Us</h4>"})|raw}}
                {{widget('profile', 'footercolumn2phone', { 'profileType':'phone', 'phone':'profile'})|raw}}
           </div>
           <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":"<h4>Find Us Here</h4>"})|raw}}
                {{widget('profile', 'footercolumn3profilesocialicons', { 'profileType' : 'socialicons' })|raw}}
               
           </div>
        </div>
    </div>
</footer>

</div>

{% endblock %}
