<!doctype html>
<!--[if lt IE 7]>
	<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" lang="{{ page.seoLang }}">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta http-equiv="content-language" content="{{ page.seoLang }}" />

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% include basekit.headScript %}
</head>
<body class="{{ page.backgroundClass }}">

	{% block content %}
	{% endblock %}
	
	{% include basekit.bodyScript %}
</body>
</html>

<script type="text/javascript">
	! function () {
	    function supportsSVG() {
	        return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
	    }
	    if (supportsSVG()) document.documentElement.className += ' svg'
	}()
</script>


<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"LOREM IPSUM","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
    <div class="header-wrapper clearfix">
        <header class="bk-header">
            <div class="wrapper clearfix">
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
            </div>
        </header>
    </div>
</section>

<div class="canvas">
    <div class="main wrapper clearfix">
        {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('content', 'footercolumn1content1', {"content":"<p>CONTACTOS</p>"})|raw}}        
        {{widget('content', 'footercolumn1content2', {"content":"<h2>LOREM IPSUM ALAM YOU?</h2>"})|raw}}       
        {{widget('profile', 'footercolumn1profileEmail', { 'profileType':'email', 'email':'profile'})|raw}}
        {{widget('profile', 'footercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
    </div>
</footer>

